<!doctype html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="lightgallery.min.css">
	<link rel="stylesheet" href="lightslider.css">
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<header class="intro img-fluid">
	<nav class="nav nav-pills justify-content-center">
		<a class="nav-link" href="#nameblock">Главная</a>
		<a class="nav-link" href="#education">Обучение</a>
		<a class="nav-link" href="#education">Опыт</a>
		<a class="nav-link" href="#skills">Навыки</a>
		<a class="nav-link" href="#wrapper1">Продукты</a>
		<a class="nav-link" href="#Contact">Контакты</a>
	</nav>
	<div id="nameblock" class="surname col-6 col-offset-3">
		<h1 class="display-1">Aibek Anvarov</h1>
		<h3 class="text-center">IT Project/Product Manager</h3>
	</div>
</header>
<body>
	<div id="about">
		<div class="container text-center center">
			<div>
				<h2>About me</h2>
				<hr>
			</div>
			<div id="photo">
				<img id="image1" class="img-fluid" src="imgs/ava.png" alt="">
			</div>
			<div>
				<p class=" aboutp">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.
				</p>
				<p class="aboutp" style="margin-top:50px;">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.
				</p>
				<a class="btn btn-outline-primary" href="./aibekcv.pdf" download="aibekcv.pdf">Download Resume</a>
			</div>
		</div>
	</div>
	<div id="wrapper1">
	<div id="portfolio1" class="container text-center center">
		<h2>Products/Projects</h2><hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
	</div>
	<div id="portfolio2" class="container">
		<div class="justify-content-center row">
			<ul class="justify-content-center row col-md-3">
				<li><a href="#middle" id="product1" class="li_click active">Janym</a></li>
				<li><a href="#middle" id="product2" class="li_click">Oy.kg</a></li>
				<li><a href="#middle" id="product3" class="li_click">Usluga</a></li>
			</ul>
		</div>
		<div id="logoDiv" class="justify-content-center row ">
			<img src="logo/Chase-Mobile-app-logo-icon.png" alt="">
		</div>
		<div id="aboutDiv" class="justify-content-center row text-center center">
			<p class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh</p>
		</div>
		<div class="demo justify-content-center row">
			<ul id="aniimated-thumbnials">
				<li data-src="slider/1/2.jpg" data-thumb="slider/1/2.jpg">
					<img src="slider/1/2.jpg" />
				</li>
				<li data-src="slider/1/1.jpg" 
				data-thumb="slider/1/1.jpg">
					<img class="wide_img" src="slider/1/1.jpg"/>
				</li>
				<li data-src="slider/1/3.jpg" 
				data-thumb="slider/1/3.jpg">
					<img class="wide_img" src="slider/1/3.jpg"/>
				</li>
				<li data-src="slider/1/4.jpg" 
				data-thumb="slider/1/4.jpg">
					<img src="slider/1/4.jpg"/>
				</li>
				<li data-src="slider/1/5.jpg" 
				data-thumb="slider/1/5.jpg">
					<img src="slider/1/5.jpg"/>
				</li>
				<li data-src="slider/1/6.jpg" 
				data-thumb="slider/1/6.jpg">
					<img src="slider/1/6.jpg"/>
				</li>
			</ul>
		</div>
	</div>
	</div>
	<div id="skills">
		<div class="container text-center center">
			<div>
				<h2>Skills</h2>
				<hr>
			</div>
			<div class=" row col-md-offset-2 justify-content-center">
				<div class="skillst col-md-2 col-sm-2">
					<img src="imgs/ic_android_black_48dp_2x.png">
					<h6>Leadership</h6>
					<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
				</div>
				<div class="skillst col-md-2 offset-md-1 col-sm-2">
					<img src="imgs/ic_thumb_up_black_48dp_2x.png">
					<h6>Communication</h6>
					<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
				</div>
				<div class="skillst col-md-2 offset-md-1 col-sm-2">
					<img src="imgs/ic_track_changes_black_48dp_2x.png">
					<h6>Technology</h6>
					<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
				</div>
				<div class="skillst col-md-2 offset-md-1 col-sm-2">
					<img src="imgs/ic_trending_up_black_48dp_2x.png">
					<h6>Mentoring</h6>
					<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="education" class="container w-100">
		<ul id="education_ul" >
			<li id="li1" class="w-100">
				<div class="text-right col-md-3 justify-content-center">
					<h3>IIDF</h3>
					<h6>Development department</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
				</div>
				<div class="badge_parent col-md-4 offset-md-4 justify-content-center">
					<div class="badge">
						<p>June 2016 <br> - <br>Oct 2016</p>
					</div>
				</div>	
			</li >
			<li class="w-100">
				<div class="text-left col-md-3">
					<h3>TechFarm</h3>
					<h6>Business analyst</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
				</div>
				<div class="badge_parent col-md-4 offset-md-4 justify-content-center">
					<div class="badge">
						<p>June 2016<br> -<br>Oct 2016</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div id="Contact" class="container">
		<div id="contact_head" class="col-md-8 offset-md-2 justify-content-center">
			<h1>Contact Me</h1>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leo nec ornare diamcommodo.</p>
		</div>
		<div id="address" class="row col-md-8 offset-md-2 justify-content-md-center">
			<div class="col">
				<img src="imgs/ic_track_changes_black_48dp_2x.png" alt="">
				<p>321 Awesome Street New York, NY 17022</p>
			</div>
			<div class="col">
				<img src="imgs/ic_trending_up_black_48dp_2x.png" alt="">
				<p>321 Awesome Street New York, NY 17022</p>
			</div>
			<div class="col">
				<img src="imgs/ic_thumb_up_black_48dp_2x.png" alt="">
				<p>321 Awesome Street New York, NY 17022</p>
			</div>
		</div>
		<div id="form_contact" class="container justify-content-md-center col-md-8 offset-md-2  ">
			<div class="row justify-content-md-center w-100">
				<label style="margin:25px auto 0 auto;"  for="contact_form"><h5>Leave message</h5></label>
				<form class="justify-content-center" id="contact_form" method="post" action="/send">
					<input type="text" class="form-control" name="name" placeholder="Name">
					<input type="e-mail" class="form-control" name="email" placeholder="E-mail">
					<textarea class="form-control" name="body" id="textarea1" cols="30" rows="10" placeholder="Message"> </textarea>
					<input id="btn_send" type="submit" class="offset-md-3 col-md-5 btn btn-primary" value="Отправить">
				</form>
			</div>
		</div>
	</div>

	
	<script src="js1.js"></script>
	<script src="lightgallery-all.min.js"></script>
	<script src="lg-autoplay.min.js"></script>
	<script src="lg-fullscreen.min.js"></script>
	<script src="lg-thumbnail.min.js"></script>
	<script id="sliderScript" src="lightslider.min.js"></script>
	<script>
		var refSld
		var refGal
		$(document).ready(function (){
			Reload()
		})
		$(document).on('click','#product1',function(){
  		refSld.destroy();
  		refGal.data('lightGallery').destroy(true);
  		Reload()
		})
		$(document).on('click','#product2', function(){
			refSld.destroy();
  		refGal.data('lightGallery').destroy(true);
  		Reload()
  		$('.lSNext').css({'background-position': '-32px 0',
    'right': '10px', 'margin-right': '115px'})
		})
		
		function Reload (){
			refGal = $('#aniimated-thumbnials')
			refGal.lightGallery({
				showThumbByDefault:true,
				addClass:'showThumbByDefault'
			})
			refSld = $('#aniimated-thumbnials').lightSlider({
				gallery: true,
				item: 1,
				loop: true,
				slideMargin: 0,
				thumbItem: 9
			});
		}
	</script>
</body>
</html>